body {
  background-image: url("../images/bowie-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #FFFFFF ;
 	font-family: 'Open Sans', sans-serif;
	font-family: 'Orbitron', sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
	/*background-color: #f1f1f1;*/
	/*opacity: 0.5;*/
    padding: 20px;
    text-align: center;
}

.deadStar {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px 10px;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.deadContainer {
	padding: 20px;
    margin: auto;
}

#add-star {
	border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px 10px;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#dead-images {
	display: inline-block;
	margin: 10px;
}

/*.newclass {
	display: inline-block;
}*/
